<h1>Problems</h1>
<% if @problems.any? %>
<table class="table problem-list">
  <thead>
    <tr>
      <th>Problem ID</th>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @problems.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= link_to(p.title, problem_path(p)) %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No problems</p>
<% end %>