<div class="page-header clearfix">
  <h1 class="pull-left"><%= @problem.title %></h1>
  <div class="pull-right problem-panel">
    <%= link_to('Submit', new_problem_submission_path(@problem), class: 'btn btn-primary') %>
  </div>
</div>
<p><%= markdown(@problem.description) %></p>
