<footer>
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li><a href="#">About</a></li>
      <li><a href="mailto:shuming@sslab.nthu.edu.tw">Support</a></li>
      <li><a href="https://github.com/ciffel">Github</a></li>
    </ul>
    <p>Designed and powered by <a href="http://www.sslab.cs.nthu.edu.tw/">System Software Laboratory</a></p>
  </div>
</footer>