<h2>Verdict</h2>
<table class="verdicts table table-bordered">
  <tr>
    <th>Symbol</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>WAITING</td>
    <td>Waiting for judging</td>
  </tr>
  <tr>
    <td>AC</td>
    <td>Accepted (Passed)</td>
  </tr>
  <tr>
    <td>WA</td>
    <td>Wrong Answer</td>
  </tr>
  <tr>
    <td>CE</td>
    <td>Compile Error</td>
  </tr>
  <tr>
    <td>TLE</td>
    <td>Time Limit Exceeded</td>
  </tr>
  <tr>
    <td>RE</td>
    <td>Runtime Error</td>
  </tr>
</table>
<h2>Compiler(gcc) options</h2>
<pre>-lm -fno-asm -ansi -DONLINE_JUDGE -O2 -static</pre>