<h1>JudgeMan <small>alpha</small></h1>
<p class="lead">This is an online judge for Introduction to Programming</p>
<p><%= link_to('Hello, world!', problems_path, class: 'btn btn-primary btn-lg') %></p>