<h1>JudgeMan <small>beta</small></h1>
<p class="lead">An online judge system for Introduction to Programming course</p>
<p><%= link_to('Hello, world!', problems_path, class: 'btn btn-primary btn-lg') %></p>